.container {
  display: grid; 
  grid-template-columns: 100%; 
  grid-template-rows: 0.3fr 2.4fr 0.3fr; 
  min-height: 100vh;
  grid-template-areas: 
    "header"
    "content"
    "footer"; 
}
.header { 
  grid-area: header; 
}
.content { 
  grid-area: content; 
}
.footer { 
  grid-area: footer; 
}